/*index.html*/

.btnFB{
	margin-right:10px;
}

.brandPeewah{
	margin-top:-10px;
}

.bigBeGreen{
	margin:0 auto;
	width:400px;
	height:300px;
}

.imgDetails{
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}

.imgService{
	margin:0 auto;
}

body{
	padding-bottom:150px;
}

#thermometer { 
	height: 20px; 
	padding:0; 
	border-radius:5px;
	border: #cccccc solid 1px; 
	vertical-align:middle; 
}

#level { 
	height: 20px; 
	width: 0%; 
	margin: 0; padding:0; 
	border-right: 1px solid #666666; 
	background: #82b440; 
	border-radius:5px;
	vertical-align:middle; 
}

.contenedorTermometro{
	margin-top:40px;
}

.estadisticasCompetencia{
	margin-right:auto;
	margin-left:auto;
}

.headerProductos{
	height:50px;
	background-color:#82c840;
	margin-bottom:40px;
	border-radius:4px;
	color:white;
}

.headerProductosTitle{
    height: 40px;
    line-height: 40px;
}
.formContacto{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	float:inherit;
}

#tablaRanking{
	margin-top:40px;
}

.descripcionRankingUsuarios{
	margin-top:40px;
}

.bigRanking{
	margin-right:auto;
	margin-left:auto;
}

.centered{
	text-align:center;
}

.service{
	padding-top:40px;
}

.page-header{
	margin-top:0;
}

.panel-body{
	padding-top:0;
}

.featuredImg{
	margin-bottom:15px;
}

p, table{
	font-size:14px;
}

.subtituloFlores{
	padding-top:10px;
	padding-bottom:10px;
}

.videoBeGreen{
	margin-top:80px;
}
